In [54]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline  
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
pd.options.display.max_rows = 100

In [55]:
# Load the datasets and investigate 
df1 = pd.read_csv('/Users/justynakurach/Documents/GitHub/IronHackLabs/Week 5/Movie Bechdel Test Scores/Bechdel.csv')
df2 = pd.read_csv('/Users/justynakurach/Documents/GitHub/IronHackLabs/Week 5/additional datasets/movies.csv')

In [56]:
df1

      Unnamed: 0                       title      imdbid     id  rating  year
0              0            Passage de Venus   3155794.0   9602       0  1874
1              1           La Rosace Magique  14495706.0   9804       0  1877
2              2  Sallie Gardner at a Gallop   2221420.0   9603       0  1878
3              3           Le singe musicien  12592084.0   9806       0  1878
4              4     Athlete Swinging a Pick   7816420.0   9816       0  1881
...          ...                         ...         ...    ...     ...   ...
9368        9368                   Love Hard  10752004.0  10152       2  2021
9369        9369                     Cruella   3228774.0  10155       3  2021
9370        9370             West Side Story   3581652.0  10157       3  2021
9371        9371     Every Time a Bell Rings  15943414.0  10158       3  2021
9372        9372          Single All The Way  14315756.0  10161       3  2021

[9373 rows x 6 columns]

In [57]:
df2

,poster,title,certificate,runtime,genre,rating,about,director,stars,votes,gross_earn
0,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Shawshank Redemption,15,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,"('Tim Robbins',), ('Morgan Freeman',), ('Bob G...","26,26,905",$28.34M
1,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Dark Knight,12A,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,"('Christian Bale',), ('Heath Ledger',), ('Aaro...","25,98,173",$534.86M
2,https://m.media-amazon.com/images/S/sash/4Fyxw...,Inception,12A,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,Christopher Nolan,"('Leonardo DiCaprio',), ('Joseph Gordon-Levitt...","23,04,062",$292.58M
3,https://m.media-amazon.com/images/S/sash/4Fyxw...,Fight Club,18,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,David Fincher,"('Brad Pitt',), ('Edward Norton',), ('Meat Loa...","20,71,088",$37.03M
4,https://m.media-amazon.com/images/S/sash/4Fyxw...,Pulp Fiction,18,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",Quentin Tarantino,"('John Travolta',), ('Uma Thurman',), ('Samuel...","20,11,013",$107.93M
...,...,...,...,...,...,...,...,...,...,...,...
4995,https://m.media-amazon.com/images/S/sash/4Fyxw...,Seven Brides for Seven Brothers,U,102 min,"Comedy, Drama, Musical",7.3,"In 1850 Oregon, when a backwoodsman brings a w...",Stanley Donen,"('Jane Powell',), ('Howard Keel',), ('Jeff Ric...","25,112",$9.40M
4996,https://m.media-amazon.com/images/S/sash/4Fyxw...,Playing It Cool,15,94 min,"Comedy, Romance",5.9,Unrequited love motivates a guy to write about...,Justin Reardon,"('Chris Evans',), ('Michelle Monaghan',), ('To...","28,515",NaN
4997,https://m.media-amazon.com/images/S/sash/4Fyxw...,A Moment to Remember,144 min,"Drama, Romance",NaN,8.1,A young couple's enduring love is tested when ...,John H. Lee,"('Jung Woo-sung',), ('Son Ye-jin',), ('Jong-ha...","23,957",NaN
4998,https://m.media-amazon.com/images/S/sash/4Fyxw...,Hairspray,PG,92 min,"Comedy, Drama, Family",7.0,A 'pleasantly plump' teenager teaches 1962 Bal...,John Waters,"('Sonny Bono',), ('Ruth Brown',), ('Divine',),...","21,536",$6.67M
4999,https://m.media-amazon.com/images/S/sash/4Fyxw...,McCabe & Mrs. Miller,X,120 min,"Drama, Western",7.6,A gambler and a prostitute become business par...,Robert Altman,"('Warren Beatty',), ('Julie Christie',), ('Ren...","25,097",$8.20M

In [58]:
#only one column in df1 needs to be droppped
df1 = df1.drop('Unnamed: 0', axis=1)

In [59]:

from fuzzywuzzy import fuzz
# Create an empty list to store the potential matches
potential_matches = []

# Iterate over the movie titles in both datasets
for title1 in df1['title']:
    for title2 in df2['title']:
        score = fuzz.ratio(title1, title2)
        if score > 80:
            potential_matches.append((title1, title2, score))

# Create a DataFrame of potential matches
df_matches = pd.DataFrame(potential_matches, columns=['title1', 'title2', 'score'])

In [60]:
df_matches.head()

                   title1              title2  score
0              Cinderella      Cinderella Man     83
1              Cinderella          Cinderella    100
2              Cinderella          Cinderella    100
3  Gulliver&#39;s Travels  Gulliver's Travels     85
4               Cleopatra           Cleopatra    100

In [61]:
# merge the two dataframes on 'title'
merged_df = pd.merge(df1, df2, on='title', how='left')

# print the first five rows of the merged dataframe
print(merged_df.head())

                        title      imdbid    id  rating_x  year poster  \
0            Passage de Venus   3155794.0  9602         0  1874    NaN
1           La Rosace Magique  14495706.0  9804         0  1877    NaN
2  Sallie Gardner at a Gallop   2221420.0  9603         0  1878    NaN
3           Le singe musicien  12592084.0  9806         0  1878    NaN
4     Athlete Swinging a Pick   7816420.0  9816         0  1881    NaN

  certificate runtime genre  rating_y about director stars votes gross_earn
0         NaN     NaN   NaN       NaN   NaN      NaN   NaN   NaN        NaN
1         NaN     NaN   NaN       NaN   NaN      NaN   NaN   NaN        NaN
2         NaN     NaN   NaN       NaN   NaN      NaN   NaN   NaN        NaN
3         NaN     NaN   NaN       NaN   NaN      NaN   NaN   NaN        NaN
4         NaN     NaN   NaN       NaN   NaN      NaN   NaN   NaN        NaN

In [62]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9494 entries, 0 to 9493
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        9494 non-null   object
 1   imdbid       9494 non-null   float64
 2   id           9494 non-null   int64
 3   rating_x     9494 non-null   int64
 4   year         9494 non-null   int64
 5   poster       2733 non-null   object
 6   certificate  2733 non-null   object
 7   runtime      2733 non-null   object
 8   genre        2728 non-null   object
 9   rating_y     2733 non-null   float64
 10  about        2725 non-null   object
 11  director     2733 non-null   object
 12  stars        2733 non-null   object
 13  votes        2733 non-null   object
 14  gross_earn   2556 non-null   object
dtypes: float64(2), int64(3), object(10)
memory usage: 1.2+ MB

In [63]:
# Calculate percentage of missing values for each column
nan_percentage = merged_df.isna().mean() * 100

# Print the percentage of missing values for each column
print(nan_percentage)

title           0.000000
imdbid          0.000000
id              0.000000
rating_x        0.000000
year            0.000000
poster         71.213398
certificate    71.213398
runtime        71.213398
genre          71.266063
rating_y       71.213398
about          71.297662
director       71.213398
stars          71.213398
votes          71.213398
gross_earn     73.077733
dtype: float64

In [64]:
# Drop rows with any missing values
df_matches_dropped = merged_df.dropna()

# Print the shape of the new dataframe
print(df_matches_dropped.shape)

(2545, 15)

In [65]:
df_matches_dropped

,title,imdbid,id,rating_x,year,poster,certificate,runtime,genre,rating_y,about,director,stars,votes,gross_earn
86,Cinderella,230.0,5914,3,1899,https://m.media-amazon.com/images/S/sash/4Fyxw...,U,74 min,"Animation, Family, Fantasy",7.3,When Cinderella's cruel stepmother prevents he...,Clyde Geronimi,"('Wilfred Jackson',), ('Hamilton Luske',), ('I...","1,59,181",$85.00M
87,Cinderella,230.0,5914,3,1899,https://m.media-amazon.com/images/S/sash/4Fyxw...,U,105 min,"Adventure, Drama, Family",6.9,"When her father unexpectedly dies, young Ella ...",Kenneth Branagh,"('Lily James',), ('Cate Blanchett',), ('Richar...","1,76,150",$201.15M
133,Cleopatra,2101.0,2003,2,1912,https://m.media-amazon.com/images/S/sash/4Fyxw...,A,192 min,"Biography, Drama, History",7.0,Queen Cleopatra VII of Egypt experiences both ...,Joseph L. Mankiewicz,"('Elizabeth Taylor',), ('Richard Burton',), ('...","33,223",$57.78M
183,Sherlock Jr.,15324.0,2011,0,1924,https://m.media-amazon.com/images/S/sash/4Fyxw...,U,45 min,"Action, Comedy, Romance",8.2,"A film projectionist longs to be a detective, ...",Buster Keaton,"('Buster Keaton',), ('Kathryn McGuire',), ('Jo...","49,517",$0.98M
190,Battleship Potemkin,15648.0,1308,0,1925,https://m.media-amazon.com/images/S/sash/4Fyxw...,Rejected,75 min,"Drama, History, Thriller",8.0,In the midst of the Russian Revolution of 1905...,Sergei Eisenstein,"('Aleksandr Antonov',), ('Vladimir Barskiy',),...","57,550",$0.05M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9411,Mortal Kombat,293429.0,9682,2,2021,https://m.media-amazon.com/images/S/sash/4Fyxw...,15,101 min,"Action, Adventure, Fantasy",5.8,Three unknowing martial artists are summoned t...,Paul W.S. Anderson,"('Christopher Lambert',), ('Robin Shou',), ('L...","1,17,933",$70.45M
9429,Cinderella,10155932.0,10036,3,2021,https://m.media-amazon.com/images/S/sash/4Fyxw...,U,74 min,"Animation, Family, Fantasy",7.3,When Cinderella's cruel stepmother prevents he...,Clyde Geronimi,"('Wilfred Jackson',), ('Hamilton Luske',), ('I...","1,59,181",$85.00M
9430,Cinderella,10155932.0,10036,3,2021,https://m.media-amazon.com/images/S/sash/4Fyxw...,U,105 min,"Adventure, Drama, Family",6.9,"When her father unexpectedly dies, young Ella ...",Kenneth Branagh,"('Lily James',), ('Cate Blanchett',), ('Richar...","1,76,150",$201.15M
9464,Dune,1160419.0,10052,3,2021,https://m.media-amazon.com/images/S/sash/4Fyxw...,12,137 min,"Action, Adventure, Sci-Fi",6.3,A Duke's son leads desert warriors against the...,David Lynch,"('Kyle MacLachlan',), ('Virginia Madsen',), ('...","1,61,293",$30.93M
9491,West Side Story,3581652.0,10157,3,2021,https://m.media-amazon.com/images/S/sash/4Fyxw...,A,153 min,"Crime, Drama, Musical",7.6,Two youngsters from rival New York City gangs ...,Jerome Robbins,"('Robert Wise',), ('Natalie Wood',), ('George ...","1,13,669",$43.66M

In [66]:
title = 'Alice in Wonderland'
matrix_rows = df_matches_dropped[df_matches_dropped['title'] == title]
matrix_rows

,title,imdbid,id,rating_x,year,poster,certificate,runtime,genre,rating_y,about,director,stars,votes,gross_earn
309,Alice in Wonderland,23753.0,3188,3,1933,https://m.media-amazon.com/images/S/sash/4Fyxw...,PG,108 min,"Adventure, Family, Fantasy",6.4,Nineteen-year-old Alice returns to the magical...,Tim Burton,"('Mia Wasikowska',), ('Johnny Depp',), ('Helen...","4,11,432",$334.19M
310,Alice in Wonderland,23753.0,3188,3,1933,https://m.media-amazon.com/images/S/sash/4Fyxw...,U,75 min,"Animation, Adventure, Comedy",7.4,Alice stumbles into the world of Wonderland. W...,Clyde Geronimi,"('Wilfred Jackson',), ('Hamilton Luske',), ('J...","1,40,932",$1.07M
705,Alice in Wonderland,43274.0,1207,3,1951,https://m.media-amazon.com/images/S/sash/4Fyxw...,PG,108 min,"Adventure, Family, Fantasy",6.4,Nineteen-year-old Alice returns to the magical...,Tim Burton,"('Mia Wasikowska',), ('Johnny Depp',), ('Helen...","4,11,432",$334.19M
706,Alice in Wonderland,43274.0,1207,3,1951,https://m.media-amazon.com/images/S/sash/4Fyxw...,U,75 min,"Animation, Adventure, Comedy",7.4,Alice stumbles into the world of Wonderland. W...,Clyde Geronimi,"('Wilfred Jackson',), ('Hamilton Luske',), ('J...","1,40,932",$1.07M
5918,Alice in Wonderland,1014759.0,699,3,2010,https://m.media-amazon.com/images/S/sash/4Fyxw...,PG,108 min,"Adventure, Family, Fantasy",6.4,Nineteen-year-old Alice returns to the magical...,Tim Burton,"('Mia Wasikowska',), ('Johnny Depp',), ('Helen...","4,11,432",$334.19M
5919,Alice in Wonderland,1014759.0,699,3,2010,https://m.media-amazon.com/images/S/sash/4Fyxw...,U,75 min,"Animation, Adventure, Comedy",7.4,Alice stumbles into the world of Wonderland. W...,Clyde Geronimi,"('Wilfred Jackson',), ('Hamilton Luske',), ('J...","1,40,932",$1.07M

In [67]:
# Check for duplicate movie titles in the final dataframe
duplicates = df_matches_dropped.duplicated(subset='title')

# Count the number of duplicates
num_duplicates = sum(duplicates)

# Print the number of duplicates
print("Number of duplicate movie titles: ", num_duplicates)

Number of duplicate movie titles:  211

In [68]:
# Remove rows with duplicate movie titles
df_matches_dropped = df_matches_dropped.drop_duplicates(subset='title', keep=False)

# Check the new number of rows in the dataframe
print("Number of rows in the cleaned dataframe: ", len(df_matches_dropped))

Number of rows in the cleaned dataframe:  2223

In [83]:
# Reset the index of df_matches_dropped
df_matches_dropped = df_matches_dropped.reset_index(drop=True)
# create separate columns for each genre, rename and merge with original dataframe
genres = df_matches_dropped['genre'].str.split(',', expand=True)
genres.columns = ['genre_1', 'genre_2', 'genre_3']
df_matches_dropped = pd.concat([df_matches_dropped, genres], axis=1)

#rename ambiguously named columns 
df = df_matches_dropped.rename(columns={'id': 'bechdel_id', 'rating_x': 'bechdel_score', 'rating_y': 'imdb_rating'})

In [71]:
# Save final dataframe to a file
df.to_csv('clean_df_midterm.csv')

In [84]:
df

,title,imdbid,bechdel_id,bechdel_score,year,poster,certificate,runtime,genre,imdb_rating,...,director,stars,votes,gross_earn,genre_1,genre_2,genre_3,genre_1,genre_2,genre_3
0,Sherlock Jr.,15324.0,2011,0,1924,https://m.media-amazon.com/images/S/sash/4Fyxw...,U,45 min,"Action, Comedy, Romance",8.2,...,Buster Keaton,"('Buster Keaton',), ('Kathryn McGuire',), ('Jo...","49,517",$0.98M,Action,Comedy,Romance,Action,Comedy,Romance
1,Battleship Potemkin,15648.0,1308,0,1925,https://m.media-amazon.com/images/S/sash/4Fyxw...,Rejected,75 min,"Drama, History, Thriller",8.0,...,Sergei Eisenstein,"('Aleksandr Antonov',), ('Vladimir Barskiy',),...","57,550",$0.05M,Drama,History,Thriller,Drama,History,Thriller
2,Sunrise: A Song of Two Humans,18455.0,1632,2,1927,https://m.media-amazon.com/images/S/sash/4Fyxw...,A,94 min,"Drama, Romance",8.1,...,F.W. Murnau,"(""George O'Brien"",), ('Janet Gaynor',), ('Marg...","50,942",$0.54M,Drama,Romance,None,Drama,Romance,None
3,All Quiet on the Western Front,20629.0,1316,0,1930,https://m.media-amazon.com/images/S/sash/4Fyxw...,PG,152 min,"Drama, War",8.1,...,Lewis Milestone,"('Lew Ayres',), ('Louis Wolheim',), ('John Wra...","61,320",$3.27M,Drama,War,None,Drama,War,None
4,M,22100.0,610,3,1931,https://m.media-amazon.com/images/S/sash/4Fyxw...,A,117 min,"Crime, Mystery, Thriller",8.3,...,Fritz Lang,"('Peter Lorre',), ('Ellen Widmann',), ('Inge L...","1,56,810",$0.03M,Crime,Mystery,Thriller,Crime,Mystery,Thriller
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2218,Ghost in the Shell,1219827.0,7551,3,2017,https://m.media-amazon.com/images/S/sash/4Fyxw...,15,83 min,"Animation, Action, Crime",7.9,...,Mamoru Oshii,"('Atsuko Tanaka',), ('Iemasa Kayumi',), ('Akio...","1,41,897",$0.52M,Animation,Action,Crime,Animation,Action,Crime
2219,King Arthur,1972591.0,7608,1,2017,https://m.media-amazon.com/images/S/sash/4Fyxw...,12A,126 min,"Action, Adventure, Drama",6.3,...,Antoine Fuqua,"('Clive Owen',), ('Stephen Dillane',), ('Keira...","1,67,734",$51.88M,Action,Adventure,Drama,Action,Adventure,Drama
2220,Murder on the Orient Express,3402236.0,7919,3,2017,https://m.media-amazon.com/images/S/sash/4Fyxw...,A,128 min,"Crime, Drama, Mystery",7.3,...,Sidney Lumet,"('Albert Finney',), ('Lauren Bacall',), ('Ingr...","62,253",$0.07M,Crime,Drama,Mystery,Crime,Drama,Mystery
2221,Pet Sematary,837563.0,8824,3,2019,https://m.media-amazon.com/images/S/sash/4Fyxw...,18,103 min,"Fantasy, Horror, Thriller",6.5,...,Mary Lambert,"('Dale Midkiff',), ('Denise Crosby',), ('Fred ...","1,03,833",$57.47M,Fantasy,Horror,Thriller,Fantasy,Horror,Thriller
2222,Bad Education,8206668.0,9204,3,2019,https://m.media-amazon.com/images/S/sash/4Fyxw...,15,106 min,"Crime, Drama",7.4,...,Pedro AlmodÃ³var,"('Gael GarcÃ­a Bernal',), ('Fele MartÃ­nez',), (...","59,964",$5.21M,Crime,Drama,None,Crime,Drama,None

In [85]:
# Remove commas from the 'votes' column
df['votes'] = df['votes'].str.replace(',', '')

# Convert the 'votes' column to integer type
df['votes'] = df['votes'].astype(int)

In [87]:
df

,title,imdbid,bechdel_id,bechdel_score,year,poster,certificate,runtime,genre,imdb_rating,...,director,stars,votes,gross_earn,genre_1,genre_2,genre_3,genre_1,genre_2,genre_3
0,Sherlock Jr.,15324.0,2011,0,1924,https://m.media-amazon.com/images/S/sash/4Fyxw...,U,45 min,"Action, Comedy, Romance",8.2,...,Buster Keaton,"('Buster Keaton',), ('Kathryn McGuire',), ('Jo...",49517,$0.98M,Action,Comedy,Romance,Action,Comedy,Romance
1,Battleship Potemkin,15648.0,1308,0,1925,https://m.media-amazon.com/images/S/sash/4Fyxw...,Rejected,75 min,"Drama, History, Thriller",8.0,...,Sergei Eisenstein,"('Aleksandr Antonov',), ('Vladimir Barskiy',),...",57550,$0.05M,Drama,History,Thriller,Drama,History,Thriller
2,Sunrise: A Song of Two Humans,18455.0,1632,2,1927,https://m.media-amazon.com/images/S/sash/4Fyxw...,A,94 min,"Drama, Romance",8.1,...,F.W. Murnau,"(""George O'Brien"",), ('Janet Gaynor',), ('Marg...",50942,$0.54M,Drama,Romance,None,Drama,Romance,None
3,All Quiet on the Western Front,20629.0,1316,0,1930,https://m.media-amazon.com/images/S/sash/4Fyxw...,PG,152 min,"Drama, War",8.1,...,Lewis Milestone,"('Lew Ayres',), ('Louis Wolheim',), ('John Wra...",61320,$3.27M,Drama,War,None,Drama,War,None
4,M,22100.0,610,3,1931,https://m.media-amazon.com/images/S/sash/4Fyxw...,A,117 min,"Crime, Mystery, Thriller",8.3,...,Fritz Lang,"('Peter Lorre',), ('Ellen Widmann',), ('Inge L...",156810,$0.03M,Crime,Mystery,Thriller,Crime,Mystery,Thriller
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2218,Ghost in the Shell,1219827.0,7551,3,2017,https://m.media-amazon.com/images/S/sash/4Fyxw...,15,83 min,"Animation, Action, Crime",7.9,...,Mamoru Oshii,"('Atsuko Tanaka',), ('Iemasa Kayumi',), ('Akio...",141897,$0.52M,Animation,Action,Crime,Animation,Action,Crime
2219,King Arthur,1972591.0,7608,1,2017,https://m.media-amazon.com/images/S/sash/4Fyxw...,12A,126 min,"Action, Adventure, Drama",6.3,...,Antoine Fuqua,"('Clive Owen',), ('Stephen Dillane',), ('Keira...",167734,$51.88M,Action,Adventure,Drama,Action,Adventure,Drama
2220,Murder on the Orient Express,3402236.0,7919,3,2017,https://m.media-amazon.com/images/S/sash/4Fyxw...,A,128 min,"Crime, Drama, Mystery",7.3,...,Sidney Lumet,"('Albert Finney',), ('Lauren Bacall',), ('Ingr...",62253,$0.07M,Crime,Drama,Mystery,Crime,Drama,Mystery
2221,Pet Sematary,837563.0,8824,3,2019,https://m.media-amazon.com/images/S/sash/4Fyxw...,18,103 min,"Fantasy, Horror, Thriller",6.5,...,Mary Lambert,"('Dale Midkiff',), ('Denise Crosby',), ('Fred ...",103833,$57.47M,Fantasy,Horror,Thriller,Fantasy,Horror,Thriller
2222,Bad Education,8206668.0,9204,3,2019,https://m.media-amazon.com/images/S/sash/4Fyxw...,15,106 min,"Crime, Drama",7.4,...,Pedro AlmodÃ³var,"('Gael GarcÃ­a Bernal',), ('Fele MartÃ­nez',), (...",59964,$5.21M,Crime,Drama,None,Crime,Drama,None